
/* Grid Start */
    /* .grid-item {
        float: left;
        width: 200px;
        height: auto;
        border: 2px solid hsla(0, 0%, 0%, 0.5);
        margin-right: 5px;
        margin-top: 5px;
    }
  
  .grid-item--width2 { width: 250px; }
  .grid-item--height2 { height: auto; } */

  .cItem {
    float: left;
    width: 200px;
    height: auto;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
    margin-right: 5px;
    margin-top: 5px;
}

/* Grid End */

/* Post Start */
    .post-image {
        max-width: 100%;
        max-height: auto;
    }
/* Post End */

  .testing { background-color: aqua; }

  .modal-image {
    max-width: 100%;
    height: auto;
  }