#form_container {
  max-width: 50%;
  text-align: center;
    /* left      : 50%;
    top       : 50%;
    transform : translate(-50%, -50%);
    text-align: center; */
}

.image-upload>input {
  display: none;
}

.avatar {
  object-fit: cover;
  height: 200px;
  width: auto;
  border-radius: 10%;
}

.rowT {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}